/* Смена дня и ночи для id=bg*/

* {
    font-family: cursive;
}

#bg {
    width: 100%;
    min-height: 100vh;
    color: white;
}

.day {
    background: linear-gradient(75deg, #3594bf 0%, rgba(255, 255, 255, 0) 100%), #53a6cb;
}

.night {
    background: linear-gradient(75deg, #55707e 0%, rgba(255, 255, 255, 0) 100%), #042232;
}

body {
    font-family: Arial;
}

h1 {
    padding: 10px 0px 0px 20px;
    color: #bdc3c6;
    font-family: cursive;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc( 100% - 10px);
}

.search_div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

#search {
    display: block;
    margin: 0 auto;
    height: 36px;
    box-sizing: border-box;
    width: calc( 100% - 10px);
    padding: 10px;
    border-radius: 12px;
    outline: none;
    border: none;
    color: white;
    box-shadow: 0 0 7px black;
    font-family: cursive;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-indent: 0px;
    transition: text-indent 0.3s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
    text-indent: 500px;
    transition: text-indent 0.3s ease;
}

#search::placeholder {
    color: white;
    text-align: center;
}

#search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px 50px;
    border-radius: 12px;
    outline: none;
    border: none;
    box-shadow: 0 0 7px black;
}

.gradient-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #4aa1c8 0%, #0b2939 51%, #3796c0 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.gradient-button:hover {
    background-position: right center;
    filter: blur(1px);
}


/* Style the tab */

.tab {
    margin: 10px 0 0 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    height: 100%;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background: linear-gradient( 360deg, #c1c1c1 0%, rgba(255, 255, 255, 0) 100%), #d9d9d9;
    filter: drop-shadow(2px 4px 6px black);
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-top: none;
}

.weather {
    padding: 1em;
}

.current {
    text-align: center;
    margin-bottom: 2em;
}

.current__city {
    font-size: 3em;
}

.current__description {
    font-size: 1.5em;
}

.current__temperature {
    font-size: 4em;
}

.forecast {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 2em;
}

.forecast__item {
    text-align: center;
}

.forecast__time,
.forecast__icon {
    margin-bottom: 1em;
}

.forecast__icon {
    border-radius: 50%;
    background: rgb(0 0 0 / 20%);
    box-shadow: 0 0 7px #3f6663;
    width: 50px;
    height: 50px;
}

.forecast__temperature {
    font-size: 1.5em;
}

.details {
    margin: 0 auto;
}

.details__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2em;
    gap: 20px;
}

.details__item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.details__name {
    margin-bottom: 1em;
}

.details__value {
    font-size: 1.5em;
}

#dayWeather1,
#dayWeather2,
#dayWeather3,
#dayWeather4 {
    margin: 0 auto;
}

#dayWeather1>div,
#dayWeather2>div,
#dayWeather3>div,
#dayWeather4>div {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px white;
}

.card-content {
    padding: 10px!important;
}

.card-icon {
    width: 50px;
    height: 50px;
}

.tabs {
    height: 100px!important;
}

.tabs .tab {
    background: linear-gradient( 360deg, #ededed 0%, rgba(255, 255, 255, 0) 100%), #65a9c8;
    height: 100%!important;
    letter-spacing: 2px;
    text-transform: lowercase!important;
    box-shadow: 0 15px 15px white;
}

.tabs .tab a {
    display: flex!important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white!important;
}

.tabs .tab a:hover,
.tabs .tab a.active {
    background: linear-gradient( 360deg, #c1c1c1 0%, rgba(255, 255, 255, 0) 100%), #d9d9d9;
    color: black!important;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
}

.toast {
    background: linear-gradient( 360deg, #53a6cb 0%, rgba(255, 255, 255, 0) 100%), #d9d9d9;
    filter: drop-shadow(2px 4px 6px black);
}

@media only screen and (max-width: 600px) {
    .header {
        display: block;
    }
    .hidden {
        display: none!important;
    }
}